* {
  box-sizing: border-box;
}

:root {
  --primary-color: #143c3c;
  --color-content: #152427;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
select,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

button {
  border: none;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  margin-left: 46px;
  color: var(--color-content);
}

.section-title::before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 25px;
  height: 1px;
  top: 9px;
  left: -46px;
  background-color: var(--color-content);
}

.section-heading {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24;
  color: var(--color-content);
}

.section-heading--small {
  font-size: 2.2rem;
  line-height: 1;
  font-weight: 600;
  color: var(--color-content);
}

.section-desc {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  color: #575d5e;
}

.section-desc--medium {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  color: #7d8188;
}

.section-desc--small {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  color: #7d8188;
  line-height: 1.71;
}

.btn {
  --height: 57px;

  display: inline-block;
  min-width: 173px;
  height: var(--height);
  border: var(--primary-color);
  border-radius: 40px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56; /* 155.556% */
  color: #fff;
  background: var(--primary-color);
  transition: opacity 0.35s;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* ---------------HEADERS--------------- */
.header {
  position: relative;
  font-family: 'Public Sans', sans-serif;
  padding-top: 28px;
  min-width: 100vh;
}

.header-top::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  top: 98px;
  background: linear-gradient(18deg, #fff 0%, #dddcdc 51.25%, rgba(212, 212, 212, 0) 100%);
}

.header-top {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo__img {
  margin-right: 6px;
}

.logo__title {
  /* display: block; */
  font-size: 2rem;
  line-height: 26px;
  font-weight: 600;
  color: var(--color-content);
}

/* Navbar */
.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  align-items: center;
  margin-right: 69px;
}

.navbar__link {
  padding: 16px 19px 26px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.56;
  color: #575d5e;
}

.navbar__link:hover,
.navbar__link--active {
  color: var(--color-content);
}

.navbar__link--active::before {
  position: relative;
  content: '';
  display: inline-block;
  top: 36px;
  left: 16px;
  width: 16px;
  height: 2px;
  border-radius: 50%;
  background: var(--primary-color);
}

.header__action {
  background: var(--primary-color);
}

/* ---------------HERO--------------- */
.hero {
  display: flex;
  align-items: center;
  margin-top: 74px;
}

.hero__content {
  flex-shrink: 0;
  width: 35%;
}

.hero__heading {
  max-width: 368px;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
  color: var(--color-content);
}

.hero__desc {
  margin: 20px 0 42px;
}

.hero__cta {
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.watch-btn {
  display: flex;
  align-items: center;
}

.watch-btn__half-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px;
  border: 4px solid;
  border-radius: 50%;
  border-color: var(--primary-color);
  border-bottom-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
}

.watch-btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: rotate(45deg);
  color: #fff;
  background: #83a17d;
}

.watch-btn__content {
  flex-shrink: 0;
  font-family: Poppins;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
}

.hero__media {
  position: relative;
  flex-grow: 1;
  /* 543 + 88 */
  height: 631px;
  padding: 0 25px 0 76px;
}

.hero__images {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}

.hero__img:nth-child(2) {
  transform: translateY(77px);
}

.hero__bg-center {
  position: absolute;
  content: '';
  top: 122px;
  left: 232px;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
  z-index: -1;
}

.hero__decorate {
  z-index: 2;
  position: absolute;
}

.hero__decor {
  position: absolute;
}

.hero__decor:first-child {
  top: -500px;
  left: -220px;
}

.hero__decor:nth-child(2) {
  /* top: -486px; */
  top: -503px;
  left: -174px;
}

.hero__decor:nth-child(3) {
  top: -202px;
  left: 32px;
}

.hero__decor:nth-child(4) {
  left: 553px;
  bottom: -111px;
}

/* ---------------DONORS--------------- */
.donor {
  font-family: 'Poppins', sans-serif;
  margin: 42px 0;
}

.donor__inner {
  height: 201px;
  border-radius: 100px;
  background: #e2eddf;
}

.donor__list {
  display: flex;
  align-items: center;
  padding: 76px 121px;
  gap: 42px;
}

.donor__item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #163c35;
}

.donor__agworld {
  gap: 10px;
}

.donor__item:first-child .donor__name {
  font-size: 3.1rem;
  font-weight: 500;
  line-height: 1.5;
}

.donor__item:nth-child(2) .donor__name {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
}

.donor__item:nth-child(3) .donor__name {
  font-size: 2.6rem;
  line-height: 1.5;
  color: #163c35;
}

.donor__item:nth-child(4) .donor__name {
  font-family: Sonsie One;
  font-size: 2.3rem;
  line-height: 1.3;
}

/* ---------------SERVICE--------------- */
.service {
  margin-top: 64px;
}

.service-top {
  flex-shrink: 0;
  margin-bottom: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__heading {
  position: relative;
  width: 520px;
}

.service__heading::after {
  position: absolute;
  content: '';
  width: 66px;
  height: 2px;
  top: 83px;
  right: 103px;
  background: var(--color-content);
}

.service-top__cta {
  display: flex;
  column-gap: 17px;
}

.service-top__btn {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #e2eddf;
  transition: color, background;
  transition-duration: 0.25s;
}

.service-top__btn:hover {
  color: #fff;
  background: var(--primary-color);
}

.service-top__btn.btn__next {
  rotate: 180deg;
}

.service__list {
  display: flex;
  gap: 16px;
}

.service__item {
  width: 370px;
  border-radius: 20px;
}

.service__image {
  height: 318px;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.service__img {
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.service__img:hover {
  transform: scale(1.1);
}

.service__content {
  background: #fff;
  padding: 24px 0;
  border-radius: 0 0 20px 20px;
  transition: background, box-shadow, translate;
  transition-duration: 0.5s;
}

.service__content:hover {
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.section-heading--small,
.service__desc {
  transition: translate 0.7s;
}

.service__content:hover .section-heading--small,
.service__content:hover .service__desc {
  translate: 18px;
}

.service__desc {
  width: 268px;
  margin-top: 18px;
}
